SPRING_PROFILES_ACTIVE=dev

MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_ROOT_PASSWORD=mongo
MONGO_INITDB_DATABASE=${db-name}
MONGO_PORT=27017

POSTGRES_URL=jdbc:postgresql://localhost:5432/${db-name}?currentScema=public
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DB_HOST=127.0.0.1
DB_PORT=27017
DB_NAME=${db-name}
DB_USER=mongo
DB_PASSWORD=mongo